@import 'tailwindcss';

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme {
    /*--font-sans: var(--font-geist-sans);*/
    /*--font-mono: var(--font-geist-mono);*/
    --text-md: 0.85rem;
    --text-sm: 0.78rem;
    --text-xs: 0.70rem;
}

:root {
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(62.68% 0.2325 303.9);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --destructive-foreground: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --radius: 0.625rem;
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
}

.dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.145 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.145 0 0);
    --popover-foreground: oklch(0.985 0 0);
    /*--primary: oklch(59.18% 0.1195 253.73);*/
    --primary: oklch(62.68% 0.2325 303.9);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    /*--accent: oklch(0.269 0 0);*/
    --accent: oklch(0.226 0.089 303.206);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.396 0.141 25.723);
    --destructive-foreground: oklch(0.637 0.237 25.331);
    --border: oklch(0.269 0 0);
    --input: oklch(0.269 0 0);
    --ring: oklch(0.439 0 0);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(0.269 0 0);
    --sidebar-ring: oklch(0.439 0 0);
}


@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }

    body {
        @apply bg-background text-foreground;
    }
}

.mapboxgl-ctrl-top-right {
    top: 50px !important;
}

.rdp-root {
    --rdp-accent-color: var(--primary) !important; /* The accent color used for selected days and UI elements. */
    --rdp-accent-background-color: var(--primary-foreground) !important; /* The accent background color used for selected days and UI elements. */

    --rdp-day-height: 44px; /* The height of the day cells. */
    --rdp-day-width: 44px; /* The width of the day cells. */

    --rdp-day_button-border-radius: 10% !important; /* The border radius of the day cells. */
    --rdp-day_button-border: 2px solid transparent; /* The border of the day cells. */
    --rdp-day_button-height: 42px; /* The height of the day cells. */
    --rdp-day_button-width: 42px; /* The width of the day cells. */

    --rdp-selected-border: 2px solid var(--rdp-accent-color); /* The border of the selected days. */
    --rdp-disabled-opacity: 0.1 !important; /* The opacity of the disabled days. */
    --rdp-outside-opacity: 0.5 !important; /* The opacity of the days outside the current month. */
    --rdp-today-color: var(--rdp-accent-color); /* The color of the today's date. */

    --rdp-dropdown-gap: 0.5rem; /* The gap between the dropdowns used in the month captons. */

    --rdp-months-gap: 2rem; /* The gap between the months in the multi-month view. */

    --rdp-nav_button-disabled-opacity: 0.5; /* The opacity of the disabled navigation buttons. */
    --rdp-nav_button-height: 2.25rem; /* The height of the navigation buttons. */
    --rdp-nav_button-width: 2.25rem; /* The width of the navigation buttons. */
    --rdp-nav-height: 2.75rem; /* The height of the navigation bar. */

    --rdp-range_middle-background-color: var(--rdp-accent-background-color); /* The color of the background for days in the middle of a range. */
    --rdp-range_middle-color: inherit; /* The color of the range text. */

    --rdp-range_start-color: white; /* The color of the range text. */
    --rdp-range_start-background: linear-gradient(var(--rdp-gradient-direction), transparent 50%, var(--rdp-range_middle-background-color) 50%); /* Used for the background of the start of the selected range. */
    --rdp-range_start-date-background-color: var(--rdp-accent-color); /* The background color of the date when at the start of the selected range. */

    --rdp-range_end-background: linear-gradient(var(--rdp-gradient-direction), var(--rdp-range_middle-background-color) 50%, transparent 50%); /* Used for the background of the end of the selected range. */
    --rdp-range_end-color: white; /* The color of the range text. */
    --rdp-range_end-date-background-color: var(--rdp-accent-color); /* The background color of the date when at the end of the selected range. */

    --rdp-week_number-border-radius: 100%; /* The border radius of the week number. */
    --rdp-week_number-border: 2px solid transparent; /* The border of the week number. */

    --rdp-week_number-height: var(--rdp-day-height); /* The height of the week number cells. */
    --rdp-week_number-opacity: 0.75; /* The opacity of the week number. */
    --rdp-week_number-width: var(--rdp-day-width); /* The width of the week number cells. */
    --rdp-weeknumber-text-align: center; /* The text alignment of the weekday cells. */

    --rdp-weekday-opacity: 0.75; /* The opacity of the weekday. */
    --rdp-weekday-padding: 0.5rem 0rem; /* The padding of the weekday. */
    --rdp-weekday-text-align: center; /* The text alignment of the weekday cells. */

    --rdp-gradient-direction: 90deg;
}

.dashboard_container {
    height: 100dvh;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

h1 {
    @apply scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl;
}

h2 {
    @apply scroll-m-20 text-3xl font-semibold tracking-tight first:mt-0 lg:text-4xl;
}

h3 {
    @apply scroll-m-20 text-2xl font-semibold tracking-tight;
}

h4 {
    @apply scroll-m-20 text-xl font-semibold tracking-tight;
}

p {
    @apply leading-5 [&:not(:first-child)]:mt-4;
}

.mapboxgl-style-list button {
    color: #555;
}

.mapbox-ctrl-styles button {
    @apply text-sm font-semibold;
}

.mapbox-ctrl-styles button:not(.-active) + button, .mapbox-ctrl-styles button.-active {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.5;
}

.poste_popup_container {
    position: sticky !important;
}

.poste_popup_container .mapboxgl-popup-content {
    @apply bg-background/100 text-foreground text-sm p-3 rounded-xs border border-foreground/50;
    max-width: none !important;
    width: fit-content !important;
    min-width: 200px;
    overflow: visible !important;
    white-space: normal;
}

.mapboxgl-popup-content h4 {
    @apply inline-block sm:block text-md sm:text-xl
}

.mapboxgl-popup-content h5 {
    @apply inline-block sm:block text-sm sm:text-md
}

.mapboxgl-popup-content hr {
    @apply mt-2 mb-2 sm:mt-3 sm:mb-4
}

.poste_popup_container .mapboxgl-popup-tip {
    border-bottom-color: var(--color-background) !important;
}

.poste_popup_container .mapboxgl-popup-close-button {
    font-size: 25px;
    right: 5px;
    top: -5px

}

.poste_popup_container table {
    @apply border-1 border-sidebar-border text-xs;
    width: 100% !important;
    max-width: 100% !important;
}

.poste_popup_container tbody tr {
    @apply bg-background/50 even:bg-foreground/10;
}

.poste_popup_container tbody tr td {
    @apply px-2 py-1 sm:px-2 sm:py-2 text-left ;
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.poste_popup_container tbody tr td:first-child {
    @apply font-semibold ;
}

/* Poste Drawer */
.poste_drawer {
    @apply flex flex-1 flex-col gap-4 pt-0
}

.info_station {
    table {
        @apply border-1 border-sidebar-border text-xs;
        width: 100% !important;
        max-width: 100% !important;
    }

    thead tr {
        @apply bg-primary text-center text-primary-foreground rounded-sm;

        h3 {
            @apply text-md font-light;
        }
    }

    tbody tr, thead tr {
        
        height: 30px;
    }

    tbody tr td {
        @apply px-2 py-1 text-left border-1 border-sidebar-border;
        white-space: nowrap !important;
        overflow: hidden !important;
        text-overflow: ellipsis;
    }

    tfoot tr td {
        @apply px-2 py-2 pb-3;
    }


    tbody tr td:first-child {
        @apply font-semibold ;
    }
}
